/* eslint-disable */

import { FunctionComponent } from 'react';
// Don't forget to install package: @types/react-native
import { ViewProps } from 'react-native';
import { SvgProps } from 'react-native-svg';

#exports#

interface Props extends SvgProps {
  name: '#names#';
  size?: number;
}

declare const IconFont: FunctionComponent<Props>;

export default IconFont;
