/* tslint:disable */
/* eslint-disable */

import React, { FunctionComponent } from 'react';
import { ViewProps } from 'react-native';
#svgComponents#

interface Props extends SvgProps {
  size?: number;
}

#xml#

let #componentName#: FunctionComponent<Props> = ({ size, color, ...rest }) => {
  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

#componentName# = React.memo ? React.memo(#componentName#) : #componentName#;

export default #componentName#;
